
<header class="header">
    <nav>
        
        <ul class="nav nav-tabs">
            <a href=""> <img src="/assets/angular.svg" width="45px" height="45px"></a>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/routing" [routerLinkActiveOptions]="{exact:true}">home</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive=active routerLink="/template-driven" >Sign Up</a></li> 
            <li class="nav-item"><a class="nav-link" routerLinkActive=active routerLink="/reactive" >Reactive</a></li> 
                
        </ul>
    </nav>
</header>
