.page-area{
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    min-height: 400px;
    text-align: left;
    background: rgb(230, 228, 221);
   
}

.card{
    display: inline-block;
    margin:  0 5px 10px;
    width: 24%;
}

  