


  <div class="form col-md-6 text-left">
  
    <div class="box" style="padding-bottom: 10px;">
        <h3>Template Driven</h3>
    </div>

  <form (ngSubmit)="onSubmit()" #myForm="ngForm"> 
    <div ngModelGroup="userdetail" #userDetail="ngModelGroup">
        <div class="form-group">
            <label for="username">User Name*</label>
            <input type="text" class="form-control" placeholder="Enter Username" name="nameUname" required [(ngModel)]="enteredUname">
            <small *ngIf="enteredUname">Your user name is :{{enteredUname}} </small>

            <button class="btn-primary btn-sm mt-2" (click)="setUserDetails()">Set Value()</button>
            <button class="btn-primary btn-sm mt-2" (click)="patchUserDetails()">Patch Value()</button>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email address*</label>
          <input type="email" class="form-control" id="exampleInputEmail1" 
          aria-describedby="emailHelp" placeholder="Enter email"  name="NameEmail" #errormsg="ngModel" email required ngModel>
          <small class="text-danger" *ngIf="!errormsg.valid && errormsg.touched">Please enter valid email.</small>
        </div>
        <small class="text-danger" *ngIf="!userDetail.valid && userDetail.touched">Please enter valid userdetails FormGroup validation.</small>
        
    </div>
  
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="namePsw" ngModel>
        </div>
        <div class="form-group">
            <label for="course">Select Course</label>
            <select id="course" class="form-control" name="nameCourses" [ngModel]="defaultCourse">
                <option value="Angular">Angular</option>
                <option value="HTML">HTML</option>
                <option value="JavaScript" >JavaScript</option>
            </select>
          </div>
          <div class="form-group">
            <div class="form-check" *ngFor="let radio of radioButton">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{radio.id}}" value="{{radio.gender}}" [ngModel]="defaultGender">
              <label class="form-check-label" for="flexRadioDefault1">
                {{radio.gender}}
              </label>
            </div>

          </div>
        <br>
        
        <button [disabled]="!myForm.valid" type="submit" class="btn btn-primary" style="padding-top: 10px;">Submit</button>
        
        
      </form>
  
  </div>

  <div class="row" class="form col-md-6 text-left" *ngIf="submitted">
    
        <h2>Form Data</h2>    
        <p><strong> {{formData.username}}</strong></p>
        <p><strong>{{formData.emailid}}</strong></p>
        <p><strong>Course: {{formData.course}}</strong></p>
        <p><strong>Gender: {{formData.gender}}</strong></p>
    
  
  </div>