


  <div class="form col-md-6 text-left">
  
    <div class="box" style="padding-bottom: 10px;">
        <h3>Create Account</h3>
    </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
    
        <div class="form-group">
          <label for="exampleInputEmail1">Email address*</label>
          <input type="email" class="form-control" id="exampleInputEmail1" 
          aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" 
          name="NameEmail">
          <small class="text-danger" *ngIf="!form.get('email').valid && form.get('email').touched">Please enter valid Email.</small>  
        </div>
        
        
  
  
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
            formControlName="password" name="namePsw">
            <small class="text-danger" *ngIf="!form.get('password').valid && form.get('password').touched">Password Length should be 6.</small>  
        </div>
        
        <button type="submit" class="btn btn-primary" style="padding-top: 10px;">Submit</button>
        <!--<button [disabled]="!myForm.valid" type="submit" class="btn btn-primary" style="padding-top: 10px;">Submit</button>-->
        <br>
        <p>Already have an account? <a routerLink="/login">Sign In</a></p>

      </form>
  
  </div>
